<!-- Banner Section -->
<div class="banner">
    <div class="container">
        <h2>Nhập STAYLEWARESTORE - Giảm 35K cho đơn hàng đầu tiên từ 500K tại website!</h2>
        <a href="#" class="btn btn-primary">Mua Ngay <i class="fas fa-arrow-right"></i></a>
    </div>
</div>